# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# InteliJ IDEA
.idea/*
!.idea/codeStyles
!.idea/copyright
!.idea/inspectionProfiles
!.idea/scopes
!.idea/icon.svg
